


 /*inilah dia Responsive nan sempardak */

@media only screen and (max-width:768px) {
       
    .sliderx {
  max-width: 100%;
  height: 700px;
  margin: 20px auto;
  position: relative;
}
    
    #hero-header-2 {
    max-height:700px;
    overflow:hidden;
}
    
    #accomodation .main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
}
    
    header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    background: transparent;
    -moz-background: transparent;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
    
    .visible-mobile {
	    display: none !important;
	}
    
	.image-box .details a.button {
       margin-top: -10px;
    }
    
    a.button.btn-mini {
       font-size: 25px;
    }
    
    .bgimage {
        height: 700px;
    }
     
    .search-holder {
       padding:100px 0;
    }
    
    
    .hero-header-1 .text-wrapper {
	    width: 80%;
	    margin: 60px auto 0;
	}

	.hero-header-1 h1 {
	    font-weight: 600;
	    color: #fff;
	    line-height: 1.2em;
	    font-size: 34px !important;
	}

	.hero-header-1 .carousel-arrows {
		display: none;
	}

	.hero-header-1 .owl-controls {
	    position: absolute;
	    left: 0;
	    width: 100%;
	    bottom: 20px;
	}

	.navigation-pre-block {
		margin-top: 80px;
		padding: 0
	}

	.navigation-block h6 {
		padding-left: 0
	}

	.navigation-block {
		margin-top: 20px;
		padding: 10px 0 0
	}

	.navigation-block .info-blocks, .navigation-block .link-blocks {
		width: 100%;
		float: none;
		padding: 10px;
	}

	.navigation-block .info-blocks {
		margin-top: 30px;
		padding-left: 10px;
		border-left: none
	}

	.navigation-block ul li {
		margin: 0 0 5px
	}

	.navigation-block ul li a {
		display: block;
		font-size: 20px;
		padding: 5px 0;
		border-bottom: solid 1px rgba(255, 255, 255, .2)
	}

	.social-section {
		margin-top: 30px;
		margin-bottom: 30px;
	}
    
    .input-group-btn .btn {
	    border-radius: 50px;
	    padding: 6px 12px;
	}

	.navbar {
		padding: 0;
	}

	.nav a {
		color: #999;
	}

}



@media only screen and (max-width:414px) {

    .image-box .details a.button {
       margin-top: -10px;
    }
    
    a.button.btn-mini {
       font-size: 18px;
    }
    
    .bgimage {
        height: 700px;
    }
     
    .search-holder {
       padding:100px 0;
    }
	
	.navigation-block .col-xs-6 {
		width: 100%
	}

	.main-services-1 .table-wrapper {
		width: 100%;
	}

	.main-text {
	    position: absolute;
	    z-index: 10;
	}

	.search-wrapper.focused {
	    width: 300px;
	    margin-right: -20px;
	}

	.searchable {
		width: 100%;
	}

	.input-group-btn .btn {
	    border-radius: 50px;
	    padding: 6px 12px;
	}

	.nav a {
		color: #999;
	}

	.navbar {
		padding: 0;
	}

	.navbar-nav {
	    margin-top: 8px;
	    background-color: #fff;
	    padding-left: 10px;
	}
}
